.example-card {
  max-width: 400px;
  padding: 30px 10px 20px 10px;
}

.full-width {
  width: 100%;
}

.alineacion-centro {
  text-align: center;
}

.mat-card-image {
  width: calc(100% + 32px);
  margin: 20px 20px 20px 20px;
  display: block;
  overflow: hidden;
}
