<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 40px">
  <mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <div fxLayout="row" fxLayoutAlign="center center" >
    <img mat-card-image src="./assets/pngwing.com.png" alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
      <form [formGroup]="formGroup" >
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                 placeholder="Ex. pat@example.com">
          <mat-error *ngIf="formGroup.get('email').hasError('email') && !formGroup.get('email').hasError('required')">
            Por favor ingrese un email valido
          </mat-error>
          <mat-error *ngIf="formGroup.get('email').hasError('required')">
            El email es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher">
          <mat-error *ngIf="formGroup.get('password').hasError('required')">
            El campo Password es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="alineacion-centro">
      <button style="width: 50%" (click)="redirecionarMenu()" mat-raised-button color="warn">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</div>
